.footer{
  &Content{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    @include iPad(){
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }
  &Logo{
    font-family: 'Raleway', sans-serif;
    font-weight: black;
  }
}

.subscribe{
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .38), rgba(0, 0, 0, .38)),
  url(../images/footer.jpg);
  background-size: cover;
  background-position: center center;
  @include iPad(){
    background-image: url(../images/footer.jpg);
    padding-top: 84px !important;
    padding-bottom: 84px !important;
  }
  &Title{
    @include iPad(){
      font-size: 3rem !important;
    }
  }
  &Email{
    padding: 1rem !important;
    background: transparent;
    ::placeholder{
      color: $light;
      font-size: 1rem;
    }
  }
  &Btn{
    padding: 1rem 1.5rem;
  }
}