.order{
  &Item{
    margin-bottom: 0.5rem;
    @include iPad(){
      margin-bottom: 1rem;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
  &ItemImg{
    width: 48px;
    height: 48px;
  }
  &SummaryDetail{
    display: none;
    @include PC(){
      margin-top: 3.5rem;
      padding: 2rem !important;
    }
  }
}

.orderSummaryIcon,
.contactIcon,
.shippingIcon{
  transform: rotate(0deg);
  transition: all .3s;
  &.active{
    transform: rotate(180deg);
  }
}

.contactDetail,
.shippingDetail{
  display: none;
}

