.header{
  position: absolute;
  top: 0;
  &Bg{
    height: 621px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .38), rgba(0, 0, 0, .38)),
    url(../images/index-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    @include iPad(){
      height: 764px;
      background-image: url(../images/index-1.jpg);
    }
  }
  &Content{
    padding-top: 188px;
    @include iPad(){
      padding-top: 236px;
      padding-bottom: 236px;
    }
  }
}

.feature{
  margin-top: 559px;
  @include iPad(){
    margin-top: 726px;
  }
}

.artisan{
  &Bg{
    background-image: url(../images/index-5.jpg);
    background-size: cover;
    background-position: center center;
  }
  &Belief{
    padding-bottom: 125px;
    @include iPad(){
      padding-top: 150px;
      padding-bottom: 154px;
    }
  }
  &Info{
    @include iPad(){
      padding-top: 161px;
    }
  }
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  .card{
    &Img{
      height: 350px;
      object-fit: cover;
    }
  }
}