<!DOCTYPE html>
<html lang="en">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title><%- title %></title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link
  href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,900&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap"
  rel="stylesheet">
<link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <section class="container-fluid container-md position-sticky" style="top: 0; z-index: 1;">
    <section class="row no-gutters">
      <section class="col">
        <nav class="navbar navbar-expand-lg justify-content-between align-items-center py-3 px-0">
          <a class="navbar-toggler p-0 border-0 d-md-none" data-toggle="offcanvas">
            <i class="material-icons text-white align-middle">menu</i>
          </a>
          <h4 class="h4 logo mb-0"><a href="index.html" class="text-md-secondary text-white align-self-center font-italic">Craftsman</a></h4>
          <a href="#" class="d-md-none"><i class="material-icons text-white align-middle">shopping_cart</i></a>
          <ul class="menu list-unstyled d-none d-md-flex mb-0 align-items-center">
            <li><a href="#" class="text-white">Product</a></li>
            <li class="ml-5"><a href="#" class="text-white">Blog</a></li>
            <li class="ml-5"><a href="#" class="text-white">Contact</a></li>
            <li class="ml-5"><a href="#"><i class="material-icons text-white align-middle">shopping_cart</i></a></li>
          </ul>
          <section class="offcanvas-collapse d-md-none">
            <ul class="navbar-nav d-none mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Notifications</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Switch account</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">Settings</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
            </ul>
          </section>
        </nav>
      </section>
    </section>
  </section>

  <%- contents %>

  <footer class="footer">
    footer
  </footer>

  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>